<div class="column is-one-third">
  <% if product.image.present? %>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag product.image %>
      </figure>
    </div>
  <% end %>
  <div class="card horse">
    <div class="card-content">
    <p class="title is-4">
        <%= link_to product.product_name, product %>
    </p>
    <ul>
      <li>
        <strong>Brand:</strong> <%= product.brand.brand_name %>
      </li>
      <li>
        <strong>Type:</strong> <%= product.type.type_name %>
      </li>
      <li>
        <strong>Price:</strong> $<%= product.price %>
      </li>
    </ul>
    <% if cart.include? product %>
      <%= button_to cart_path(product), method: :delete do %>
        Remove from cart
      <% end%>
    <% else %>
      <%= form_with url: cart_index_path do %>
        <%= hidden_field_tag(:id, product.id) %>
        <%= button_tag "Add to Cart" %><i class="fa-solid fa-cart-plus"></i>
      <% end %>
    <% end %>
    </div>
  </div>
</div>