<h1 class="title is-1"><%= @product.product_name %></h1>
<h3 class="subtitle is-3">Description:</h3>
<p><%= @product.description %></p>
<h3 class="subtitle is-3">Price:</h3>
<p>$<%= @product.price %></p>
<img src="<%= @product.image %>" alt="<%= @product.product_name %>">
