<h1><%= @product.product_name %></h1>
<h3>Description:</h3>
<p><%= @product.description %></p>
<h3>Price:</h3>
<p>$<%= @product.price %></p>
<img src="<%= @product.image %>" alt="<%= @product.product_name %>">
