<%= link_to "Cart", cart_index_path, :class => "has-text-black subtitle is-5" %>
<i class="fa-solid fa-cart-shopping"></i>

<% if cart.present? %>
  <sup><%= cart.size %></sup>
<% end %>
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Products", root_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Brands", brands_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Types", types_path, :class => "has-text-black subtitle is-5" %></li>
    <li><i class="fa-solid fa-user"></i></li>
  </ul>

</nav>
